header{
  color: white;
  height: 80px;
  padding: 0px 15px;
  background-color: #34495e;
}

h1{
  text-transform: uppercase;
}

#wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#container {
  display: flex;
  flex: auto ;
  overflow: hidden;
}

#canvas {
  flex: 8;
}

#sidebar {
  flex: 2;
  padding: 5px;
  background-color: white;
}
