<div class="container">
  <header>
    <h1>Guests</h1>
    <button mat-button (click)="openFileDialog()">Import</button>
    <input #file id="file" type="file" (change)="import($event)"/>
    <button mat-button (click)="export()" [disabled]="tableService.guests.length == 0">Export</button>
    <button mat-button (click)="close()">X</button>
  </header>

  <hr>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th class="small-header">Meat</th>
      <th class="small-header">Fish</th>
      <th class="action-header"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let guest of tableService.guests | reverse">
      <td>{{guest.name}}</td>
      <td class="small">
        <mat-checkbox [(ngModel)]="guest.eatsMeat"></mat-checkbox>
      </td>
      <td class="small">
        <mat-checkbox [(ngModel)]="guest.eatsFish"></mat-checkbox>
      </td>
      <td class="small">
        <button mat-button (click)="removeGuest(guest.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <hr>

  <div class="form">
    <div class="name">
      <mat-form-field>
        <input matInput placeholder="Guest name" [(ngModel)]="guestModel.name">
      </mat-form-field>
    </div>
    <div class="other">
      <mat-checkbox [(ngModel)]="guestModel.eatsMeat">Meat</mat-checkbox>
      <mat-checkbox [(ngModel)]="guestModel.eatsFish">Fish</mat-checkbox>
      <button mat-button (click)="addGuest()" [disabled]="!guestModel.name">Add Guest</button>
    </div>
  </div>
</div>
