table {
  width: 100%;
}

tbody {
  display:block;
  height:300px;
  overflow:auto;
}

thead, tbody tr {
  display:table;
  width:100%;
}

header {
  display: flex;
}

h1 {
  flex: 9;
  margin: 0;
  padding: 0;
}

.close {
  flex: 1;
}

th {
  text-align: left;
}

.container {
  width: 600px;
  height: 450px;
}

.small-header {
  width: 75px;
}

.small {
  width: 75px;
  text-align: center;
}

.action-header {
  width: 90px;
}

.form {
  display: flex;
  flex: auto;
  overflow: hidden;  
  justify-content: center;
  align-items:center;
}

.name {
  flex: 6;
}

.name-input {
  width: 95%;
  font-size: 18px;
  border: 1px solid #888888;
  border-radius: 4px;
  color: #767676
}

.name-input:hover {
  color: black
}

.other {
  flex: 4;
  line-height: 55px;
}

#file {
  display: none;
}
