<h3>Course</h3>
<md-select [(ngModel)]="tableService.currentCourse">
  <md-option *ngFor="let course of tableService.courses" [value]="course.id">
    Course {{ course.id + 1}}
  </md-option>
</md-select>
<h3>Guests</h3>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th class="small-header">Meat</th>
    <th class="small-header">Fish</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let guest of tableService.guests">
    <td>{{guest.name}}</td>
    <td class="small">
      <md-checkbox [ngModel]="guest.eatsMeat" disabled></md-checkbox>
    </td>
    <td class="small">
      <md-checkbox [ngModel]="guest.eatsFish" disabled></md-checkbox>
    </td>
  </tr>
  </tbody>
</table>

<button md-button (click)="openGuestsDialog()">Manage Guests</button>


<h3>Settings</h3>
<label>Tables ( {{tableService.tableCount}} )</label><br/>
<md-slider min="1" max="12" step="1" [(ngModel)]="tableService.tableCount"></md-slider>
<br/>
<label>Courses ( {{tableService.courseCount}} )</label><br/>
<md-slider min="1" max="6" step="1" [(ngModel)]="tableService.courseCount"></md-slider>

<h3>Algorithm</h3>
<div class="toggle-container">
  <button class="toggle-button" [class.toggle-active]="isAlgorithmActive('UNIQUE_TABLES')" (click)="setActiveAlgorithm('UNIQUE_TABLES')" md-button [disabled]="!allowUniqueTables()">Unique table</button>
  <button class="toggle-button" [class.toggle-active]="isAlgorithmActive('RANDOM')" (click)="setActiveAlgorithm('RANDOM')" md-button>Random</button>
  <button class="toggle-button" [class.toggle-active]="isAlgorithmActive('UNIQUE_GUESTS')" (click)="setActiveAlgorithm('UNIQUE_GUESTS')" md-button [disabled]="!allowUniqueGuests()">Unique guests</button>
</div>

<h3>Export</h3>
<button md-button (click)="pdfService.generatePdf()">Generate PDF</button>


