<h3>Course</h3>
<mat-select [(ngModel)]="tableService.currentCourse">
  <mat-option *ngFor="let course of tableService.courses" [value]="course.id">
    Course {{ course.id + 1}}
  </mat-option>
</mat-select>
<h3>Guests</h3>
<div *ngIf="tableService.guests.length == 0">
  <h3 class="info">No guests configured</h3>
</div>
<div *ngIf="tableService.guests.length > 0">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th class="small-header">Meat</th>
      <th class="small-header">Fish</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let guest of tableService.guests">
      <td>{{guest.name}}</td>
      <td class="small">
        <mat-checkbox [ngModel]="guest.eatsMeat" disabled></mat-checkbox>
      </td>
      <td class="small">
        <mat-checkbox [ngModel]="guest.eatsFish" disabled></mat-checkbox>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<button mat-button (click)="openGuestsDialog()">Manage Guests</button>


<h3>Settings</h3>
<label>Tables ( {{tableService.tableCount}} )</label><br/>
<mat-slider min="1" max="12" step="1" [(ngModel)]="tableService.tableCount"></mat-slider>
<br/>
<label>Courses ( {{tableService.courseCount}} )</label><br/>
<mat-slider min="1" max="6" step="1" [(ngModel)]="tableService.courseCount"></mat-slider>

<h3>Algorithm</h3>
<div class="toggle-container">
  <button class="toggle-button" [class.toggle-active]="isAlgorithmActive('UNIQUE_TABLES')"
          (click)="setActiveAlgorithm('UNIQUE_TABLES')" mat-button [disabled]="!allowUniqueTables()">Unique table
  </button>
  <button class="toggle-button" [class.toggle-active]="isAlgorithmActive('RANDOM')"
          (click)="setActiveAlgorithm('RANDOM')" mat-button>Random
  </button>
  <button class="toggle-button" [class.toggle-active]="isAlgorithmActive('UNIQUE_GUESTS')"
          (click)="setActiveAlgorithm('UNIQUE_GUESTS')" mat-button [disabled]="!allowUniqueGuests()">Unique guests
  </button>
</div>

<h3>Export</h3>
<button mat-button (click)="pdfService.generatePdf()">Generate PDF</button>


